[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
	email = janewuwz@gmail.com
	name = janewuwz
	n = ame
